result
nix-hash
*.lua.c
*.sql.c
Makefile
*~
vgcore*
valgrind*
test*
CMakeFiles
cmake_install.cmake
CMakeCache.txt
runtime
raft
*.html
*.[123456789]

# Outputs
clusterctl
clusterd-ns
clusterd-service
clusterd-monitor
clusterd-host
clusterd-controller
clusterd-exec
clusterd-ps
libclusterctllib.a
clusterd-setuidgidmap
clusterd-config
clusterd-nsportd
clusterd-resource
clusterd-schedule
